// Variables
$navbar-bg: rgba(195, 165, 142, 0.9);
$active-color: rgb(69, 89, 13);
$dropdown-bg: rgba(195, 165, 142, 0.902);
$dropdown-hover-bg: rgb(98, 120, 38);
$bg-color: rgb(254,250,224);
$bg-footer: rgba(221, 229, 182);
$text-color: black;

// Mixins
@mixin center-flex {
    display: flex;
    align-items: center;
}

// Estilos para el navbar
.navbar {
    background-color: $navbar-bg;    
    padding: 10px;

    .navbar-brand {
        img {
            width: 120px;
            height: auto;
            position: relative;
            top: 5px;
            left: 10px;
        }
    }

    .navbar-nav {
        .nav-item {
            position: relative;

            .nav-link {
                position: relative;
                color: $text-color;
                background-color: transparent;
                padding: 10px 20px;
                margin-left: 15px;

                &:hover,
                &:focus {
                    background-color: transparent;
                    box-shadow: none;
                    color: $active-color;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $active-color;
                        bottom: -5px;
                        left: 0;
                    }
                }
            }

            .nav-link.active {
                color: $active-color;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $active-color;
                    bottom: -5px;
                    left: 0;
                }
            }
        }
    }
}

// Estilos para el dropdown
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-toggler {
    background-color: rgb(196, 160, 132);
    margin-top: 10px;
}

.dropdown-menu {
    background-color: $dropdown-bg;
    border: none;
}

.dropdown-item {
    padding: 10px 20px;
    color: $active-color;
    text-decoration: none;

    &:hover {
        background-color: $dropdown-hover-bg;
        color: white;
    }
}

// Estilos globales
body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg-color;    
    background: linear-gradient(0deg, rgba(254,250,224,1) 38%, rgb(235, 211, 149) 100%);
    
    
    h1 {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
    .container-xxl{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .container-xl{
        margin-top: 5%;
        margin-bottom: 5%;
    }

}


// Estilos para el carrusel


.carousel {
    max-width: 100%;
    margin: 0px auto;     
    
    .carousel-inner img {
        max-height: 800px;
        max-width: 100%;        
        height:auto;       
        width: 100%;      
    }
    
}

// Estilos para el contenedor del carrusel
.carousel {
    position: relative; // Necesario para posicionar los botones de navegación
    max-width: 100%;
    margin: 0 auto; // Centra el carrusel horizontalmente
    
    .carousel-inner img {
        max-height: 800px;
        width: 100%;
        height: auto;
    }
}

// Estilos para los botones de navegación del carrusel
.carousel-control-prev,
.carousel-control-next {
    width: 100px;  
    height: 100px;      
    z-index: 10;    
    top: 50%;       
    transform: translateY(-50%); // Ajusta la posición para centrar verticalmente
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; // Necesario para posicionar el botón respecto al contenedor
    background-color: rgba(159, 159, 159, 0.692); 
    border-radius: 50%;
    
    // Estilos para el ícono de flecha
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-position: center; // Centra el ícono dentro del botón
        width: 60px; // Ajusta el tamaño del ícono
        height: 60px; // Ajusta el tamaño del ícono
    }

    &:hover,
    &:focus {
        background-color: rgba(0, 0, 0, 0.7); // Fondo al pasar el ratón
    }
}

.carousel-control-prev {
    left: 5%; // Ajusta la distancia del borde izquierdo del contenedor    
}

.carousel-control-next {
    right: 5%; // Ajusta la distancia del borde derecho del contenedor
}

// Ajusta el tamaño del ícono en dispositivos móviles
@media (max-width: 600px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 55px;  
        height: 55px; 

        // Estilos para el ícono de flecha
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: 45px; // Tamaño del ícono en dispositivos móviles
            height: 45px; // Tamaño del ícono en dispositivos móviles
        }
    }
}



    
// Otros estilos
.text-container {
    @include center-flex;
    width: 60%;
}

.clear {
clear: both;
}



// Estilos para el footer
.footer {
    @include center-flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $bg-footer;
    bottom: 0;
    width: 100%;

    .footer-left {
        text-align: left;
        margin-left: 5%;
    }

    .footer-right {
        text-align: right;
        @include center-flex;
        margin-right: 10%;

        p {
            margin: 0;
            @include center-flex;
            margin-right: 5%;
        }

        a {
            margin-left: 20px;
        }
    }
        
}